{% extends 'base.html.twig' %}

{% block title %}New article{% endblock %}

{% block body %}
    {{ form_start(form) }}

        <button type="submit">Create Article</button>
    {{ form_end(form) }}
{% endblock %}
