
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}
td{
    border: 1px solid #dddddd;
}
tr:nth-child(even) {
    background-color: rgba(221, 221, 221, 0.58);
}
form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 80vh;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px #969696;
}
form div{
    display: flex;
    flex-direction: column;
    width: 10rem;
}
form button{
    background-color: #ffffff;
    height: 3rem;
    width: 10rem;
    border-radius: 5px;
    border: 1px solid #969696;
}
input:focus, input:active, textarea:focus, textarea:active {
    outline: none;
    border: solid 2px #969696;
}
input, textarea {
    border: solid 1px #969696;
    height: 20px;
    box-shadow: 0 5px 5px #dddddd;
    outline: none;
    border-radius: 5px;
    color: black;
}
textarea{
    height: 10vh;
}
form button:active, form button:hover{
    background-color: #969696;
}
#article_date{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
