{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        <h1>Articles</h1>
    {% endblock header %}
{% for article in articles %}
    <p>{{ article.name }}</p>
    <p>{{ article.date|date("d/m/y") }}</p>
    <p>{{ article.id }}</p>
    <hr>
    {% endfor %}
{% endblock %}
