{% extends 'base.html.twig' %}

{% block title %}\Edit article{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <button type="submit">Edit Article</button>
    {{ form_end(form) }}

{% endblock %}
